.mainDiv{
    width: 100%;
    height: 100vh;
}

.imageArea{
  width:50%;
  background: url('../../images/bear.jpg');
  background-size: cover;
  background-color: rgb(226, 138, 75);
}
.formArea{
 width:50%;
 background-color: darkcyan;
}
.imgTextsub{
    display: flex;
    padding: 50px;
    margin-top: 45%;
}
.uiBlock{
    margin: auto;
    color: black;
}
ul {
   list-style-type: none;
 }
 ul li {
     padding: 5px;
     font-size: 20px;
 }
 .formDiv{
     max-width: 40%;
     margin-left: 25%;

 }

 .headerClass{
    background-color: burlywood;
}
.parentMain{
    width: 100%;
    height: 85%;
}
.sidebar{
 width: 25%;
 background-color: rgb(123, 255, 0);
}
.main_content{
 width: 75%;
 background-color: rgb(255, 0, 140);
}
.footerClass{
    position: fixed;
    bottom: 0;
    background-color: blueviolet;
    width: 100%;
}